$bg-dark: #181818;
$bg-light: #d3d3d3;
$primary: #6bd805;
$secondary: #a4c26c;
$error: #f50f50;
$info: #3e6ff7;
$warning: #ffa600;

// $colors: (
//   'primary': $primary,
//   'secondary': $secondary,
//   'error': $error,
//   'info': $info,
//   'blue': #1919e6,
//   'red': #e61919,
//   'yellow': #e6e619,
//   'green': #19e635,
//   'orange': $warning,
//   'purple': #9900ff,
//   'pink': hotpink,
//   'gray': #808080,
//   'black': #000000,
//   'white': #ffffff,
// );

// @each $key, $val in $colors {
//   .text-#{$key} {
//     color: $val;
//   }
//   .bg-#{$key} {
//     background-color: $val;
//   }
// }

$colors: (
  warms: (
    100: hsl(14, 100%, 80%),
    200: hsl(14, 100%, 70%),
    300: hsl(14, 100%, 60%),
    400: hsl(14, 100%, 43%),
    500: hsl(14, 100%, 20%),
  ),
  reds: (
    100: hsl(0, 100%, 80%),
    200: hsl(0, 100%, 65%),
    300: hsl(0, 100%, 50%),
    400: hsl(0, 100%, 40%),
    500: hsl(0, 100%, 25%),
  ),
  yellows: (
    100: hsl(50, 89%, 70%),
    200: hsl(50, 89%, 60%),
    300: hsl(50, 89%, 50%),
    400: hsl(50, 89%, 45%),
    500: hsl(50, 89%, 40%),
  ),
  oranges: (
    100: hsl(39, 100%, 60%),
    200: hsl(39, 100%, 50%),
    300: hsl(39, 100%, 40%),
    400: hsl(39, 100%, 35%),
    500: hsl(39, 100%, 25%),
  ),
  blues: (
    100: hsl(219, 89%, 80%),
    200: hsl(219, 89%, 70%),
    300: hsl(219, 89%, 60%),
    400: hsl(219, 61%, 37%),
    500: hsl(219, 89%, 20%),
  ),
  teals: (
    100: hsl(176, 66%, 70%),
    200: hsl(176, 66%, 60%),
    300: hsl(176, 66%, 40%),
    400: hsl(176, 66%, 30%),
    500: hsl(176, 66%, 20%),
  ),
  greens: (
  100: hsl(120, 89%, 70%),
  200: hsl(120, 89%, 60%),
  300: hsl(120, 89%, 35%),
  400: hsl(120, 89%, 25%),
  500: hsl(120, 89%, 17%),
  ),
  purples: (
  100: hsl(276, 90%, 70%),
  200: hsl(276, 89%, 60%),
  300: hsl(276, 89%, 35%),
  400: hsl(276, 89%, 25%),
  500: hsl(276, 89%, 17%),
  ),
  pinks: (
  100: hsl(303, 90%, 90%),
  200: hsl(303, 89%, 80%),
  300: hsl(303, 89%, 70%),
  400: hsl(303, 89%, 55%),
  500: hsl(303, 89%, 35%),
  ),
  neutrals: (
    100: hsl(0, 0%, 100%),
    200: hsl(0, 0%, 87%),
    300: hsl(0, 0%, 80%),
    700: hsl(0, 0%, 40%),
    800: hsl(0, 0%, 30%),
    900: hsl(0, 0%, 15%),
    999: hsl(0, 0%, 0%),
  ),
);
